*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/apps/lte-status/debug/
/apps/lte-status/release/
/apps/cch/release/
/apps/cch/debug/
/apps/lte-stats/build

